* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}

body,html {
    height: 100vh;
    width: 100%;
}

:root {
    --font-color: #CADCFC;
    --light-color: #8AB6F9;
    --dark-color: #00246B;
}

.input-box input {
    height: 2rem;
    width: 250px;
    text-indent: 0.5rem;
    border-radius: 10px;
}

.input-box p{
    margin-bottom: 0.5rem;
    margin-top: 0.2rem;
    margin-left: 0.2rem;
}

.confirmation-form div {
    display: flex;
    flex-direction: column;
}